/* General Styles */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
 
.card {
    width: 300px;
            height: 250px;
            padding: 20px;
            text-align: center;
            border: 3px solid #755757;
            border-radius: 20px;
}

header {
    background-color: #65ccb8;
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 20px;
    color: black;
    padding: 20px;
    display:flex;
    justify-content: flex-end;
    gap: 10px;

}

.linkbutton {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button,
[role="button"]{
    padding: 3px;
    border: 20x solid transparent
}

button:active,
button:focus,
[role="button"][aria-pressed="true"]{
    border: 2px solid#000;
}

.projectbutton {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.grid-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.image {
    grid-column: auto
    
    
}

.typing {
    font-family: 'Franziska, Georgia, Cambria';
    font-size: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}


section {
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #65ccb8;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    .grid-container {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}

